<div id="current_texts_list">
	<div class="main col-lg-9">
		<h4>Current Texts</h4>
	</div>
	<li ng-repeat="text in texts | reverse">
		{{text.text}}
		<a href="#/text/show/{{text._id}}"><button class="text_show_button button btn btn-default" ng-click="showText(text)">Show id:{{text._id}}</button></a>
		<a href="#/text/edit/{{text._id}}"><button class="text_edit_button button btn btn-default">Edit</button></a>
		<button id="delete_button" class="text_delete_button button btn btn-default" ng-click="destroyText(text)">Delete</button>
	</li>
</div>
